<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <style>
        body{
             display: flex;
             flex-direction:column;
             margin:2px;
             }
             .menu
             {
                display: flex;
               justify-content: space-around;
               background-color: brown;
             }
             .menu a{
                 font-size: 15px;
                 font-weight: bolder;
                 color:white;
             }
    </style> --}}
</head>
<body>
    <h1>Employee Info</h1>
       <div class="menu">

           {{!-- <a href="/add">ADD Player</a> --}}

           
           
           <a href="/view">VIEW Employee</a><br>
           {{!-- <a href="/search">SEARCH Employee</a> --}}
           <a href="/add">ADD Employee</a><br>
           <a href="/delete">DELETE Employee</a><br>
           <a href="/update">UPDATE Employee</a>

           
       </div>
</body>
</html>